<template>
  <div>
    <h1>{{date}}</h1>
    <v-container fluid fill-height>
      <v-row>
        <v-col>
          <v-sheet height="400">
            <v-calendar
              ref="calendar"
              :now="today"
              :value="today"
              :events="events"
              color="indigo"
              type="week"
            ></v-calendar>
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      newDate: "",
      today: this.date,
      events: [
        {
          name: "RDV Crazylog",
          start: "2020-02-03 09:00",
          end: "2020-02-03 17:00"
        },
      
      ]
    };
  },
  computed: {
    date() {
      let currentDate = new Date();
      this.newDate = new Date();
      return this.newDate.toLocaleDateString();
    }
  },
  mounted() {
    this.$refs.calendar.scrollToTime("08:00");
  }
};
</script>
<style scoped>

.my-event {
    background-color: #3f51b5 !important;
 
}
</style>