<template>
  <div>
    <form @submit.prevent="submitComment">
         <v-layout v-if="respondTo">
            En réponse à <span class="font-weight-bold ml-2 mr-2"> {{respondTo.name}} </span> :  " {{respondTo.body}} "
            <v-btn small @click="$emit('cancel-respond-to')" type="button">Annuler</v-btn>
            
          </v-layout>
      <div class="mb-3">
        <v-text-field label="Nom" v-model="form.name"></v-text-field>
        <p v-text="errors.name[0]" v-if="errors.name" class="orange--text"></p>
      </div>
      <div class="mb-3">
        <v-textarea v-model="form.body" class="mx-2" rows="1"></v-textarea>
        <p v-text="errors.body[0]" v-if="errors.body" class="orange--text"></p>
      </div>
      <div class="text-right">
        <v-btn type="submit" small>Commenter</v-btn>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  props: ["respondTo"],
  data() {
    return {
      test: "",
      form: {
        name: "",
        body: "",
        created_at: ""
      },
      comments: [],
      errors: []
    };
  },
  computed:{
    fullForm(){
      if(this.respondTo){
        return{
          ...this.form,
          respond_to_id: this.respondTo.id
        }
      }
      return this.form;
    }
  },
  methods: {
    submitComment() {
      axios
        .post("/api/comments", this.fullForm)

        .then(({ data }) => {
          /* let dat = data.created_at.split(" ")[0];
          let date = dat
            .split("-")
            .reverse()
            .join("-");*/
          this.$emit("newComment", data);
          this.comments.push({
            name: data.name,
            body: data.body,
            created_at: data.created_at
          });
          this.form.body = "";
        })

        .catch(error => {
          this.errors = error.response.data.errors;
        });
    }
  }
};
</script>
<style scoped>
.v-textarea textarea {
  align-self: stretch;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  line-height: 0rem;
  max-width: 100%;
  min-height: 32px;
  outline: none;
  padding: 0;
  width: 100%;
}
</style>