<template>
  <div>
    <v-card class="mb-2">
      <v-card-text>
        <p class="indigo--text">{{com.name}} -- il y a {{date}}</p>

        <p v-if="edit">
          <v-textarea class="mx-2" rows="1" v-model="newBody"></v-textarea>
        </p>
        <p v-else>{{com.body}}</p>

        <div class="text-right" v-if="edit">
          <v-btn small @click="cancel">Annuler</v-btn>
          <v-btn small @click="update">Sauvegarder</v-btn>
        </div>

        <div class="text-right" v-else>
          <v-btn small @click="$emit('respond-to',com)">Répondre</v-btn>
          <v-btn small @click="edit=true">Modifier</v-btn>
        </div>
      </v-card-text>
    </v-card>
    <div style="border-left:4px solid  grey">
      <comment
        class="ml-4"
        :com="child"
        :now="now"
        @respond-to="respondTo = $emit('respond-to',$event)"
        v-for="child in com.children"
        :key="child.id"
      ></comment>
    </div>
  </div>
</template>
<script>
import { formatRelative, formatDistance } from "date-fns";
import { fr } from "date-fns/esm/locale";
export default {
  name: "comment",
  props: ["com", "now"],
  data() {
    return {
      edit: false,
      newBody:this.com.body
    };
  },
  computed: {
    date() {
      return formatDistance(new Date(this.com.created_at), this.now, {
        locale: fr
      });
    }
  },
  methods:{
    update(){
      this.com.body= this.newBody;
      this.edit= false;

    },
    cancel(){
      this.edit=false;
      this.newBody = this.com.body;
    }
  }
};
</script>