<template>
  <v-container fluid fill-height>
    <v-layout>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-card-subtitle>Commentaires</v-card-subtitle>
          <v-card-text>
            <commentForm
              @newComment="newComment"
              :respond-to="respondTo"
              @cancel-respond-to="respondTo = null"
            />
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex md8 class="ml-2">
        <comment
          :com="com"
          :now="now"
          @respond-to="respondTo = $event"
          v-for="com in comments"
          :key="com.id"
          class="elevation-12 mb-2"
        />
        <div v-if="nextPage" class="text-right">
          <v-btn mini @click="fecthComments(nextPage)">Charger les {{numberOfComments - comments.length}}  commentaires suivants...</v-btn>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import commentForm from "./commentForm";
import comment from "./comment";
export default {
  components: {
    commentForm,
    comment
  },
  data() {
    return {
      comments: [],
      now: new Date(),
      respondTo: null,
      nextPage: null,
      numberOfComments: 0
    };
  },
  mounted() {
    /* axios.get("/api/comments").then(({ data: pagination }) => {
      this.comments = pagination.data;
      this.nextPage = pagination.next_page_url;
    });*/
    this.fecthComments("/api/comments");
    setInterval(() => {
      this.now = new Date();
    }, 1000);
  },
  methods: {
    newComment(comment) {
      if (!this.respondTo) {
        this.comments.push(comment);
        return;
      }
      this.respondTo.children.push(comment);
    },
    fecthComments(url) {
      axios.get(url).then(({ data: pagination }) => {
        this.comments = this.comments.concat(pagination.data);
        this.nextPage = pagination.next_page_url;
        this.numberOfComments =pagination.total
      });
    }
  }
};
</script>
<style scoped>
.v-textarea textarea {
  align-self: stretch;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  line-height: 0rem;
  max-width: 100%;
  min-height: 32px;
  outline: none;
  padding: 0;
  width: 100%;
}
</style>