<template>
  <div>
    <v-container fluid fill-height>
      <v-layout>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12">
            <v-card-subtitle>Page statistiques du dashboard à faire</v-card-subtitle>
            <v-card-text>{{date}}</v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
export default {
  data: () => ({})
};
</script>
<style scoped>
</style>