<template>
  <div>
    <v-app>
      <v-app-bar dense>
        <v-img
          class="mx-2"
          src=""
          max-height="40"
          max-width="40"
          contain
        ></v-img>
        <v-toolbar-title>Laravel&Vuejs</v-toolbar-title>
        <v-spacer></v-spacer>
        <menuDroite></menuDroite>
        <heure></heure>
      </v-app-bar>
      <splitpanes class="default-theme" vertical>
        <pane size="20">
          <v-treeview activatable :items="items" dense item-key="name">
            <template slot="label" slot-scope="props">
              <router-link class="router" :to="props.item.to" v-if="props.item.to">
                <v-icon
                  class="mr-2"
                  style="font-size:20px"
                  :v-icon="props.item.file"
                >{{props.item.file}}</v-icon>
                {{ props.item.name }}
              </router-link>
              <span v-else>{{ props.item.name }}</span>
            </template>
          </v-treeview>
          <v-btn small @click.stop="panelDroite = !panelDroite">Open panel droite</v-btn>
        </pane>

        <pane size="90" >
          <v-content>
            <router-view></router-view>
          </v-content>
        </pane>
        <template>
          <pane v-if="panelDroite" size="30">
            <panel3 />
          </pane>
        </template>
      </splitpanes>

      <v-footer app style="position: relative;z-index:8">
        <span>&copy;PPC @2020</span>
      </v-footer>
    </v-app>
  </div>
</template>  
<script>
import img from "../../images/logo_quickbrain.png";
import { Splitpanes, Pane } from "splitpanes";
import "splitpanes/dist/splitpanes.css";
import menuDroite from "./menuDroite";
import heure from "../divers/heure";
import panel3 from "./panel3";
export default {
  components: { menuDroite, heure, Splitpanes, Pane, panel3 },
  data() {
    return {
      activeColor: "#121212",
      test: "rgb(33, 33, 33)",
      panelDroite: false,
      items: [
        {
          id: 1,
          name: "Dashboard",
          children: [
            { id: 2, name: "Agenda", to: "/", file: "mdi-calendar" },
            {
              id: 3,
              name: "Statistiques",
              to: "/statistiques",
              file: "mdi-chart-bar"
            },
            {
              id: 4,
              name: "News",
              to: "/news",
              file: "mdi-newspaper-variant-multiple-outline"
            }
          ]
        },
        {
          id: 5,
          name: "Documents :",
          children: [
            {
              id: 6,
              name: "Factures :",
              children: [
                {
                  id: 7,
                  name: "Data",
                  children: [
                    {
                      id: 8,
                      name: "Clients",
                      to: "/clients",
                      file: "mdi-account-multiple"
                    },
                    {
                      id: 9,
                      name: "Fournisseurs",
                      to: "/pageafaire",
                      file: "mdi-account-group"
                    }
                  ]
                }
              ]
            },
            {
              id: 10,
              name: "Autres :",
              children: [
                {
                  id: 11,
                  name: "Data",
                  children: [
                    {
                      id: 12,
                      name: "Image",
                      to: "/pageafaire",
                      file: "mdi-image-outline"
                    },
                    {
                      id: 13,
                      name: "PDF",
                      to: "/pageafaire",
                      file: "mdi-file-pdf-outline"
                    },
                    {
                      id: 14,
                      name: "Texte",
                      to: "/pageafaire",
                      file: "mdi-text"
                    }
                  ]
                }
              ]
            }
          ]
        },

        {
          id: 19,
          name: "Contrats :",
          children: [
            {
              id: 20,
              name: " Documents:",
              children: [
                {
                  id: 21,
                  name: "Propositions",
                  to: "/pageafaire",
                  file: "mdi-note-outline"
                },
                {
                  id: 22,
                  name: "Contrats",
                  to: "/pageafaire",
                  file: "mdi-file-document-edit-outline"
                },
                {
                  id: 23,
                  name: "Avenants",
                  to: "/pageafaire",
                  file: "mdi-paperclip"
                }
              ]
            },
            { id: 24, name: "Devis", to: "/pageafaire", file: "mdi-dev-to" },
            {
              id: 25,
              name: "Rappels",
              to: "/pageafaire",
              file: "mdi-bell-outline"
            }
          ]
        },
        {
          id: 15,
          name: "Paramètres :",
          children: [
            { id: 16, name: "Profil", to: "/profil", file: "mdi-account-edit" },
            {
              id: 17,
              name: "Password",
              to: "/pageafaire",
              file: "mdi-lock-reset"
            },
            {
              id: 18,
              name: "Email",
              to: "/pageafaire",
              file: "mdi-email-outline"
            }
          ]
        }
      ]
    };
  },
  methods: {
    openRight() {
      this.panelDroite = true;
    }
  }
};
</script>
<style scoped>
.router {
  text-decoration: none;
  color: white;
}

.splitpanes.default-theme .splitpanes__pane {
  background-color: #363636;

}
.splitpanes.default-theme .splitpanes__splitter {
    background-color: blue;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}   
.color {
  background-color: white;
}
</style>