<template>
  <div id="menuDroite">
    <v-badge color="indigo" content="3" overlap top class="mr-5">
      <v-icon style="font-size:26px">mdi-email-outline</v-icon>
    </v-badge>
    <v-badge color="deep-orange accent-4" content="6" overlap top class="mr-5">
      <v-icon style="font-size:26px">mdi-bell-outline</v-icon>
    </v-badge>

    <v-avatar :size="40" color="white" class="mr-2">
      <!--<span class="white--text headline indigo--text">LS</span>-->
      <img src="./man_3.jpg" />
    </v-avatar>Jean Martin
    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn dark icon v-on="on">
          <v-icon color="white">arrow_drop_down</v-icon>
        </v-btn>
      </template>

      <v-card class="mx-auto" max-width="500">
        <v-list>
          <v-list-item-group v-model="model">
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>
                  <router-link :to="{name : 'pageafaire'}" class="router white--text">Paramètres</router-link>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>
                  <router-link :to="{name: 'pageafaire'}" class="router white--text">Déconnexion</router-link>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card>
    </v-menu>
  </div>
</template>
               
<script>
export default {
  name: "menuDroite",
  data() {
    return {
      model: 0
    };
  }
};
</script>
<style>
.lien {
  text-decoration: none;
  font-size: 15px;
  padding: 30px;
}
.router {
  text-decoration: none;
}
</style>
      

      