<template>
  <div>
    <v-container>
      <v-layout>
        <v-flex style="position:absolute; z-index: 2">
        <v-checkbox
          v-model="CheckFichiers"
          label="Fichiers"
          color="indigo"
          @click.stop="CheckFichiers =!CheckFichiers"
        ></v-checkbox>

        <v-toolbar dense v-if="CheckFichiers">
          <v-toolbar-title size="19">Fichiers</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-icon class="mr-5">mdi-upload-outline</v-icon>
          <v-icon class="mr-5">mdi-view-grid-outline</v-icon>
          <v-icon>mdi-grid</v-icon>
        </v-toolbar>

        <v-data-table
          v-model="selected"
          :headers="headers"
          :items="listeClients"
          :single-select="singleSelect"
          item-key="numero"
          show-select
          class="elevation-1"
          dense
          @click:row="fiche"
        >
          <template v-slot:top>
            <v-switch v-model="singleSelect" label="Une sélection" class="pa-3"></v-switch>
          </template>
        </v-data-table>
        </v-flex>
        <v-flex>
        <div v-if="panelDroite" style="position: relative; z-index: 1000;" >
          <router-view :panelDroite="panelDroite" @fermer="fermerPanel"></router-view>
        </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
  
   
<script>
import { Splitpanes, Pane } from "splitpanes";
import "splitpanes/dist/splitpanes.css";
import clients from "../../mixins/clients";
export default {
  mixins: [clients],
  components: { Splitpanes, Pane },
  data() {
    return {
      activeColor: "#121212",
      // test: "rgb(33, 33, 33)",
      panelDroite: false,
      CheckFichiers: true,
      listeClients: clients,
      singleSelect: false,
      selected: [],
      headers: [
        {
          align: "left",
          sortable: false,
          value: "numero"
        },
        { text: "Raison Sociale", value: "raisonSociale" },
        { text: "Numéro", value: "numero" },
        { text: "Statut", value: "statut" },
        { text: "Contact", value: "contact" },
        { text: "Téléphone", value: "telephone" },
        { text: "Email", value: "email" }
      ]
    };
  },

  methods: {
    fiche(val) {
      let num_id = val.id;
      this.panelDroite = true;
      this.$router.push({ name: "panelClient", params: { id: num_id } });
    },
    fermerPanel(val) {
      this.panelDroite = val;
    }
  }
};
</script>
<style scoped>
.router {
  text-decoration: none;
  color: white;
}

</style>