<template>
  <div>
    <v-container>
      <v-card>
        <v-card-text>
          <v-card-title>Commentaires</v-card-title>
          <form @submit.prevent="submitComment">
            <div class="mb-3">
              <v-text-field label="name" v-model="form.name"></v-text-field>
              <p v-text="errors.name[0]" v-if="errors.name"></p>
            </div>
            <div class="mb-3">
              <v-textarea v-model="form.body"></v-textarea>
              <p v-text="errors.body[0]" v-if="errors.body"></p>
            </div>
            <div class="text-right">
              <v-btn type="submit">Commenter</v-btn>
            </div>
          </form>
        </v-card-text>
      </v-card>
      <v-card v-for="com in comments" :key="com.id" class="mt-2">
        <v-card-text>
          <p>{{com.name}} / {{com.created_at}}</p>
          <p>{{com.body}}</p>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: {
        name: "",
        body: "",
        created_at: ""
      },
      comments: [],
      errors: []
    };
  },
  mounted() {
    axios.get("/api/comments").then(response => {
      this.comments = response.data;
      console.log(response.data);
    });
  },
  methods: {
    submitComment() {
      axios
        .post("/api/comments", this.form)

        .then(({ data }) => {
          this.comments.push({
            name: data.name,
            body: data.body,
            created_at: data.created_at
          });
          this.form.body = "";
        })

        .catch(error => {
          this.errors = error.response.data.errors;
        });
    }
  }
};
</script>