<template>
  <div>
    <v-container fluid fill-height>
      <v-layout >
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12">
            <v-toolbar color="indigo darken-3" dark flat>
              <v-toolbar-title>Login form</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-form>
                <v-text-field label="Login" name="login" type="text" class="ml-6"></v-text-field>
                <v-row align="center">
                  <v-icon
                    class="shrink mr-2 mt-0"
                    @click="show = !show"
                    v-show="!show"
                  >mdi-eye-outline</v-icon>
                  <v-icon
                    class="shrink mr-2 mt-0"
                    @click="show = !show"
                    v-show="show"
                  >mdi-eye-off-outline</v-icon>
                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    :type="show ? 'text' :'password'"
                  ></v-text-field>
                </v-row>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="indigo darken-3">Valider</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show: false,
      password: "",
      login: ""
    };
  }
};
</script>