<template>
    <div>

           <ejs-treeview id="treeview" :fields="fields" >
               
           </ejs-treeview>
              
    </div>
</template>
<script>
import Vue from "vue";
export default Vue.extend({

  data: function() {

    return {
          
      fields: ""
    };
  },
  created() {
    axios.get("/api/comments").then(response => {

      this.fields = {
        dataSource: response.data.data,
        id: "id",
        text: "name",
        child: "url"
      };
    });
  },
  methods:{
    panelouvre(){

    }
  }
});
</script>    