<template>
    <div>{{ hours }}</div>
</template>

    <script>
        export default {
            data() {
    return {
            hours: ""
      };
    },
  methods: {
            checkTime(i) {
      return i < 10 ? "0" + i : i;
      },
    affiche_heure() {
            let vm = this;
        var date = new Date(),
          h = this.checkTime(date.getHours()),
          m = this.checkTime(date.getMinutes());
        this.hours = h + ":" + m;
        setTimeout(
        function() {
            this.affiche_heure();
      }.bind(this),
      1000
    );
  }
},
  mounted() {
            this.affiche_heure();
      }
    };
</script>

